$white: #fff;
$blue: #202945;
$iris-blue: #00A8DE;
$red: #ed1c24;
$black: #000000;
$orange: #f13e50;
$gray: #444444;
$dark-grey: #666666;
$red-orange: #26ffb0;
$smoky: #59595b;
$gray20: #333333;
$white-smoke: #F3F3F3;
$hawkes-blue: #D9DBE1;
$silver: #C5C5C5;
$silver-l: #C1C1C1;
$palette: #434D6E;
$grayish: #777A84;
$border-color: #3C455E;